Simple claymore config for one radeonx rx480 card
-epool stratum+tcp://daggerhashimoto.eu.nicehash.com:3353 
-ewal  36DZqnAa9Zysvvg7rj7CCppypUxNofmrnK.rigtver
-epsw x
-dpool stratum+tcp://asia.siamining.com:7777
-dwal 13b2a4e5c837ae290441fca0388c2acb066ea48d1131463ffe18b833c91bad8229dfec98a793.rigtver
-dcoin sc
-dpsw x
-esm 3
-allpools 1
-cclock 1100
-mclock 2000
-ttli 78
-asm 1
-gser 2
-ethi 12
-wd 1
-r 1
-tt 75
-ttli 78
-fanmax 95
-fanmin 40